Exercises
The end result of this exercise should be a Jupyter notebook named model.
Using saas.csv or log data from API usage or store_item_sales
1. Split data (train/validate/test) and resample by any period, except daily, and aggregate using the sum.
2. Forecast, plot and evaluate using each of the 4 parametric based methods we discussed:
Simple Average
Moving Average
Holt's Linear Trend Model
Based on previous year/month/etc., this is up to you.

Optional: Using store item demand
1. Predict 2018 total monthly sales for a single store and/or item by creating a model.
2. Return a dataframe with the month, store_id, y-hat, and the confidence intervals (y-hat lower, y-hat upper).
3. Plot the 2018 monthly sales predictions.

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import env

from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns

from pandas.plotting import register_matplotlib_converters

import statsmodels.api as sm
from statsmodels.tsa.api import Holt

In [2]:
df = pd.read_csv('saas.csv')

In [3]:
df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [4]:
# # Month_Invoiced to datetime
# df = df.assign(ds= pd.to_datetime(df.Month_Invoiced))
# df = df.assign(ds= pd.to_datetime(df.sale_date))

df['Month_Invoiced'] = df['Month_Invoiced'].astype('datetime64')
df.index = df.Month_Invoiced

In [5]:
df.head()

,Month_Invoiced,Customer_Id,Invoice_Id,Subscription_Type,Amount
Month_Invoiced,,,,,
2014-01-31,2014-01-31,1000000,5000000,0.0,0.0
2014-01-31,2014-01-31,1000001,5000001,2.0,10.0
2014-01-31,2014-01-31,1000002,5000002,0.0,0.0
2014-01-31,2014-01-31,1000003,5000003,0.0,0.0
2014-01-31,2014-01-31,1000004,5000004,1.0,5.0

In [6]:
# sort values by date
df = df.sort_values('ds')

KeyError: 'ds'

In [ ]:
# resample daily, summing dollars_sold and items_sold
#df = df[['Subscription_Type', 'Amount']]

In [ ]:
df.head()

In [ ]:
# remove leap days by takin that day out of the index
df = df[df.index != '2016-02-29']

In [ ]:
df = df.drop(columns = ['Customer_Id','Invoice_Id','Month_Invoiced'])

In [ ]:
df.head()

# Split

In [ ]:
df_size = len(df)
df_size

In [ ]:
# compute num of rows that are 70% of total rows and assign to variable train_size

train_size = int(len(df)* .5)
train_size

In [ ]:
# compute num of rows that are 20% of total rows and assign to variable validate_size
validate_size = int(len(df) * .3)
validate_size

In [ ]:
# make test_size the number of rows remaining (test_size = total # of rows - train_size - validate_size)
test_size = int(len(df)- train_size - validate_size)
test_size

In [ ]:
# compute the row number at which the switch from validate to test happens. 
validate_end_index = train_size + validate_size
validate_end_index

In [ ]:
# split into train, validation, test
train = df[: train_size] 
validate = df[train_size : validate_end_index] 
test = df[validate_end_index :]

In [ ]:
# sum of train, validate and test = total number of rows? 
len(train) + len(validate) + len(test) == len(df)

In [ ]:
# test the row starts
print(df.head(1)== train.head(1))

In [ ]:
df.head()

In [ ]:
df.resample('W').sum()

2