Panama Climate 
Sarah Lawson Woods
October 2021

Goal:

Planning:

Executive Summary:

In [1]:
# Imports

# for presentation purposes
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

# visualize 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns


# working with dates
from datetime import datetime

# to evaluated performance using rmse
from sklearn.metrics import mean_squared_error
from math import sqrt 

# for tsa 
import statsmodels.api as sm

# for modeling
from statsmodels.tsa.api import Holt

import mini_proj_functions as m

# Acquire

In [2]:
df = m.get_temp_data()

In [5]:
df.head(25)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
9,1744-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
18,1745-05-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
19,1745-06-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
20,1745-07-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
21,1745-08-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
22,1745-09-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
23,1745-10-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
24,1745-11-01,NaN,NaN,Århus,Denmark,57.05N,10.33E